@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Pompiere&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
.logo{
    max-width: 100px
}
.logo1{
    max-width: 575px;
    margin-left: 150px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-align: center;
    color: #E8DAB2;
    text-decoration: none;
}
nav a:hover{
    background-color:#C0D6DF ;
    color:black;
}
header{
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #4F6D7A;
    font-family:"Pompiere", Helvetica, sans-serif;
    font-size: 50px;

}
.home-grid{
    display: grid;
    grid-template-columns: 2fr 1fr  ;
    grid-template-rows: 200px 275px 275px ;
    
}
.miles-card{
    grid-row: 2/4;
    grid-column: 3/4;
    margin-right: 200px;
    height: 100%;
}
.msg {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    background-color: #E8DAB2;
    margin-left:  10%;

}
.msg h2{
    font-family:"Pompiere", Helvetica, sans-serif;
    font-size: 50px;
}
.msg p{
    font-family:"Nunito Sans", Helvetica, sans-serif;
}

footer{
    background-color: #4F6D7A;
    color:#E8DAB2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    
}
footer a{
    color: #E8DAB2;
    text-decoration: none;
}
footer a:hover{
    background-color: #C0D6DF;
    color: black 

}
body{
    background-color: #C0D6DF;
}
.msg a {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #C0D6DF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .msg a:hover {background-color: #C0D6DF}
  
  .msg a:active {
    background-color: #C0D6DF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .aboutme-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mountains-img{
    width: 75%;
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .aboutme-title{
    text-align: center;
    font-family: "Pompiere", Helvetica, sans-serif;
    background-color: #E8DAB2;
    font-size: 100px;
  }
  .textbox1{
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 25px;
    text-align: center;
    font-family: "Nunito Sans", Helvetica, sans-serif;
  }
  .mission-img{
   grid-column:1/2;
   grid-row: 3/4;
   width: 75%;
  }
  .textbox2{
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 25px;
  }